.contener{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(42,157,143);
  }
  .mid-box{   
    border-radius: 20px;
    height: 50vh;
    width: 50vw;
    background: rgb(38,70,83);
    display: flex;
    flex-direction: column;
    align-items: center;


  }
  .mid-box h1{
    text-align: center;
    color: rgb(233,196,106);
    cursor: pointer;
  }
  input{
    color: rgb(231,111,81);
    position: relative;
    top: 10%;
    height: 50px;
    width: 40vw;
    margin-bottom: 5%;
    padding-left: 10%;
    
    border-radius: 2rem;
   
  }
    .submit{
        position:relative;
        top: 10%;
        left: 25%;
        text-align: center;
        height: 10%;
        width: 20%;
        border-radius: 0.7rem;
        border: none; 
    }
    .submit:hover{
        background: rgb(244,162,67);
        cursor: pointer;
    }
