*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: rgb(168,218,220);
}
/* the navbar height and width */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( rgb(230,57,70), rgb(241,250,238));
    height: 7vh;
    font-size: 1.7vh;
}
ul{
    margin-right: 100px;
}
a{
text-decoration: none;

}
ul li a{
   
   padding-left: 20px;
   margin-right: 20px; 
   font-weight: bold;
   color: rgb(29,53,87 );
}
/* h1{
    text-shadow:0 1px 0 rgba(255,255,255,0.5),0 0 10px rgba(255,255,255,0.3),0 0 15px rgba(255,255,255,0.1)
} */
li{
    list-style-type: none;
    display: inline;
    
}
/* -------------------------------- */
/* rahul adjm */
.hone{
    color: red;
    margin-left: 50px;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}
/* middle-------------------------- layer */
.midle-layer{

position: absolute;
top: 36vh;
left: 30vh;
font-size: 1.7rem;
}
.midle-layer h1{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
    color: yellow;
}
.midle-layer h3{
    padding-bottom: 10px;
    color: rgb(149, 144, 234);
}
.midle-layer p{
    color: white;
}
/* buttons */
.midle-layer button{
    cursor: pointer;

    color: #000;
    height:5vh ;
    width:10vh ;
    border-radius:5px;
    margin-top: 30px;
    background-color: rgb(69,123,157);
    border-style: none;
    color:rgb(230,57,70) ;
}
.btn1{
    margin-right: 10vw;
}
.links{
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

    
}
.links i{
    cursor: pointer;
    height: 10vh;
    margin-top:10vh ;
}
/* photo alignment */
.my-photo{
    cursor: pointer;
  position: absolute;
  top:27vh;
  left:60vw;
  height: 50vh;
  width: 35vw;
    
}
.hh{
    font-size: 100px;
}
/* midea query sterted */
@media only screen and (max-width:1024px) {
    body{
        background: pink;
    }
    .my-photo{
        position: absolute;
    }
    .midle-layer{
        background-color: pink;
        width: 100vw;
        font-size:2vh ;
    }
    .midle-layer h1{
        font-size: 5vh;
        width: 70vw;
    }
    .midle-layer button{
        height: 4vh;
        width: 10vw;
        position: relative;
        top: 40px;
    }
    /* button */
    .btn1{
        margin-right:30vw;
        color: rgb(57, 14, 14);

    }
    i{
        height: 70vh;
    }
    
}